body {
  background-color: lightgray;
  font-family: "Cabin", sans-serif;
  font-family: "Gloria Hallelujah", cursive;
  font-family: "Roboto Mono", monospace;
  font-family: "Unbounded", sans-serif;
}

.title {
  margin-bottom: 24px;
}

img {
  height: 30px;
}

.wrapper {
  display: grid;
  grid-gap: 24px;
  justify-content: center;
  text-align: center;
}

.block {
  display: grid;
  grid-gap: 8px;
  padding: 24px;
  border-radius: 8px;
}

.block-1 {
  background-color: lightyellow;
}

.block-2 {
  background-color: lightblue;
}

.counter-wrapper {
  padding-bottom: 24px;
  border-bottom: 1px solid gray;
}

.counter {
  padding: 24px;
  font-size: 32px;
  background-color: #8f8f8f;
  border-radius: 8px;
  display: grid;
}
